Please use the following signature:

```python
class angle_offset:
  value: float = <float> # The offset value added to the hitting angle (this should be a float)
```

Here is a history of previous experiments:

{{expr_results}}
Think about the results above when choosing a new value for the angle_offset.

Please also keep in mind the following:
* Do not use or create variables that do not exist.
* Only write a small amount of code, you only need to provide a float value for the angle_offset variable in your response. This is a strict requirement.
* The goal position is {{goal_pos}}.
* The distance to the goal should be as small as possible.
* Note, the initial position and velocity is always the same.
* Do not use functions or variables that do not exist.
* You do not need to explain your reasoning.
* It is a good idea to try out different values, do not keep trying 0.0, you can try different values.