Examples of solving similar tasks are shown below.

Example 1:
Task description: Put the two red boxes into the bowl and the rest in the sink.
The code:
```python
def action_sequence():
    names_to_bowl = ["red_box_1", "red_box_2"]
    names_to_sink = ["orange_box_1", "orange_box_2", "blue_box_1", "pink_box_1", "green_box_1", "green_box_2"]
    go_home()
    open_gripper()

    for name in names_to_bowl:
        reach_to_box(name)
        close_gripper()
        go_to_bowl()
        open_gripper()
        go_home()

    for name in names_to_sink:
        reach_to_box(name)
        close_gripper()
        go_to_sink()
        open_gripper()
        go_home()
```

Example 2:
Task description: stack box_1 on box_2.
The code:
```python
def action_sequence():
    go_home()
    reach_to_box("box_1")
    close_gripper()
    go_home()
    reach_to_box("box_2", zoffset=0.05)
    open_gripper()
    go_home()
```